#realtime_keyword {
  position: relative;
  width: 100%;
  height: 52px;
  background-color: var(--color-neutral-background-default);
  margin-bottom: 16px;
  box-shadow: 0 0 0 1px var(--color-neutral-stroke-subtle-1),
    0 1px 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 0 18px 0px 18px;
  box-sizing: border-box;
}

html[data-dark="true"] #realtime_keyword {
  box-shadow: none;
}

#realtime_keyword .group_keywords {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#realtime_keyword .slider-viewport > div {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
}

#realtime_keyword .rank-item {
  width: 100%;
  align-items: center;
  display: flex;
  height: 100%;
}

#realtime_keyword .rank-item:hover {
  text-decoration: none;
}

#realtime_keyword .rank-item:hover .rank-text {
  text-decoration: underline;
}

#realtime_keyword .group_keywords .rank-num {
  color: var(--color-primary-foreground-default);
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 10px;
  width: 16px;
}

#realtime_keyword .group_keywords .rank-text {
  color: var(--color-neutral-foreground-subtle-1);
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
}

#realtime_keyword .group_keywords .slider-viewport {
  height: 100%;
  width: 100%;
  will-change: transform;
  transition: 0.3s;
  transform: translate(0px, -0%);
}

#realtime_keyword .keywords_more {
  float: left;
  margin-left: 17px;
  cursor: pointer;
  font-size: 13px;
  line-height: 30px;
  color: #202020;
  text-align: right;
  user-select: none;
}
#realtime_keyword .keywords_more:after {
  display: inline-block;
  width: 11px;
  height: 7px;
  background-position: -83px -296px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: "";
  margin-left: 7px;
  vertical-align: 2px;
}

#realtime_keyword .rate_up:before {
  display: inline-block;
  width: 9px;
  height: 6px;
  background-position: -246px -204px;
  background-repeat: no-repeat;
  vertical-align: top;
  vertical-align: 2px;
  content: "";
}

#realtime_keyword .rate_down:before {
  display: inline-block;
  width: 9px;
  height: 6px;
  background-position: -257px -204px;
  background-repeat: no-repeat;
  vertical-align: top;
  vertical-align: 1px;
  content: "";
}

#realtime_keyword .rate_stable:before {
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: grey;
  vertical-align: 3px;
  content: "";
}

#realtime_keyword .keywords_more:after,
.rate_up:before,
.rate_down:before {
  background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_57f073.png);
  background-size: 444px 439px;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.keywords-menu {
  width: calc(100% + 2px);
  z-index: 1000;
  position: absolute;
  top: calc(100% + 10px);
  right: -1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: var(--color-neutral-background-default);
  animation: popup 0.15s ease-in-out;
  box-shadow: 0 0 0 1px var(--color-neutral-stroke-subtle-2),
    0 4px 8px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
}

html[data-theme="greenDark"] .keywords-menu::before {
  background-position: -270px -246px;
  filter: contrast(0.75) brightness(0.5);
  -webkit-filter: contrast(0.75) brightness(0.5);
}

.keywords-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  right: 13px;
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.3427b960.png);
  background-size: 468px 457px;
  background-position: -203px -301px;
  background-repeat: no-repeat;
  width: 22px;
  height: 13px;
}

html[data-dark="true"] .keywords-menu::before {
  background-position: -142px -114px;
}
html[data-dark="true"] .keywords-menu {
  box-shadow: 0 0 0 1px #383c3c, 0 4px 12px 0 rgba(0, 0, 0, 0.5);
}

.ads_banner {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ads_banner a {
  width: 100%;
  height: 100%;
}

.ads_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-list {
  padding: 16px 18px;
}
.menu-list .rank-num {
  color: var(--color-neutral-foreground-subtle-1);
  font-weight: 500;
  font-size: 1.5rem;
  margin-right: 10px;
  width: 16px;
  text-align: right;
}

.menu-list .rank-text {
  color: var(--color-neutral-foreground-subtle-1);
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 18px;
  border-bottom: 1px solid var(--color-neutral-stroke-divider);
}

.menu-header_title {
  font-size: 1.5rem;
  color: var(--color-neutral-foreground-default);
  font-weight: 700;
}

.menu-header_update {
  font-size: 1.3rem;
  color: var(--color-neutral-foreground-decorative-1);
  font-weight: 500;
}

.menu-footer {
  padding: 12px 18px;
  border-top: 1px solid var(--color-neutral-stroke-divider);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-footer_text {
  cursor: pointer;
  color: var(--color-neutral-foreground-decorative-1);
  font-size: 1.3rem;
  font-weight: 500;
}

#realtime_keyword .menu-item {
  width: 100%;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 8px 0;
}

#realtime_keyword .menu-item:hover {
  text-decoration: none;
}

#realtime_keyword .menu-item:hover .rank-text {
  text-decoration: underline;
}
