#gnb .group_keywords{
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    overflow: hidden;
    width: 248px;
    height: 52px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#gnb .slider-viewport > div{
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
} 

#gnb .rank-item{
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
}

#gnb .group_keywords .rank-num{
    color: #03c75a;
    font-weight: 700;
    font-size: 15px;
    margin: 0 10px;
}

#gnb .group_keywords .rank-text{
    color: #465061;
    font-size: 14px;
    width: 100%;
    text-align: left;
}

#gnb .group_keywords .slider-viewport{
    height: 100%;
    width: 100%;
    will-change: transform;
    transition: 0.3s;
    transform: translate(0px, -0%);
}

#gnb .keywords_more{
    float: left;
    margin-left: 17px;
    cursor: pointer;
    font-size: 13px;
    line-height: 30px;
    color: #202020;
    text-align: right;
}
#gnb .keywords_more:after{
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -83px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 7px;
    vertical-align: 2px;
}

#gnb .rate_up:before{
    display: inline-block;
    width: 9px;
    height: 6px;
    background-position: -246px -204px;
    background-repeat: no-repeat;
    vertical-align: top;
    vertical-align: 2px;
    content: '';
}

#gnb .rate_down:before{
    display: inline-block;
    width: 9px;
    height: 6px;
    background-position: -257px -204px;
    background-repeat: no-repeat;
    vertical-align: top;
    vertical-align: 1px;
    content: '';
}

#gnb .rate_stable:before{
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: grey;
    vertical-align: 3px;
    content: '';
}


#gnb 
.keywords_more:after, 
.rate_up:before, 
.rate_down:before
{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_57f073.png);
    background-size: 444px 439px;
}