#gnb .group_keywords{
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    overflow: hidden;
    max-width: 270px;
    height: 52px;
    text-align: right;
}
#gnb .group_keywords > div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
#gnb .group_keywords .rank-num{
    color: #03c75a;
    font-weight: 700;
    font-size: 15px;
    margin: 0 10px;
}